# Getting started with Polars
→ [Source](https://docs.pola.rs/user-guide/getting-started/#reading-writing)

In [1]:
import polars as pl
import datetime as dt

df = pl.DataFrame(
    {
        "name": ["Alice Archer", "Ben Brown", "Chloe Cooper", "Daniel Donovan"],
        "birthdate": [
            dt.date(1997, 1, 10),
            dt.date(1985, 2, 15),
            dt.date(1983, 3, 22),
            dt.date(1981, 4, 30),
        ],
        "weight": [57.9, 72.5, 53.6, 83.1],  # (kg)
        "height": [1.56, 1.77, 1.65, 1.75],  # (m)
    }
)

print(df)

shape: (4, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

In [5]:
df.write_csv("../../data/getting-started/output.csv")
df_csv = pl.read_csv("../../data/getting-started/output.csv", try_parse_dates=True)
print(df_csv)

shape: (4, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

In [6]:
!cat ../../data/getting-started/output.csv

name,birthdate,weight,height
Alice Archer,1997-01-10,57.9,1.56
Ben Brown,1985-02-15,72.5,1.77
Chloe Cooper,1983-03-22,53.6,1.65
Daniel Donovan,1981-04-30,83.1,1.75

In [7]:
result = df.select(
    pl.col("name"),
    pl.col("birthdate").dt.year(), #.alias("birth_year"),
    (pl.col("weight") / (pl.col("height") ** 2)) #.alias("bmi"),
)
print(result)

shape: (4, 3)
┌────────────────┬───────────┬───────────┐
│ name           ┆ birthdate ┆ weight    │
│ ---            ┆ ---       ┆ ---       │
│ str            ┆ i32       ┆ f64       │
╞════════════════╪═══════════╪═══════════╡
│ Alice Archer   ┆ 1997      ┆ 23.791913 │
│ Ben Brown      ┆ 1985      ┆ 23.141498 │
│ Chloe Cooper   ┆ 1983      ┆ 19.687787 │
│ Daniel Donovan ┆ 1981      ┆ 27.134694 │
└────────────────┴───────────┴───────────┘

In [8]:
result = df.select(
    pl.col("name"),
    pl.col("birthdate").dt.year().alias("birth_year"),
    (pl.col("weight") / (pl.col("height") ** 2)).alias("bmi"),
)
print(result)

shape: (4, 3)
┌────────────────┬────────────┬───────────┐
│ name           ┆ birth_year ┆ bmi       │
│ ---            ┆ ---        ┆ ---       │
│ str            ┆ i32        ┆ f64       │
╞════════════════╪════════════╪═══════════╡
│ Alice Archer   ┆ 1997       ┆ 23.791913 │
│ Ben Brown      ┆ 1985       ┆ 23.141498 │
│ Chloe Cooper   ┆ 1983       ┆ 19.687787 │
│ Daniel Donovan ┆ 1981       ┆ 27.134694 │
└────────────────┴────────────┴───────────┘

In [13]:
result = df.select(
    pl.col("name"),
    (pl.col("weight", "height") * 0.95).round(2).name.suffix("-5%"),
)
print(result)
print("Original df:", df)

shape: (4, 3)
┌────────────────┬───────────┬───────────┐
│ name           ┆ weight-5% ┆ height-5% │
│ ---            ┆ ---       ┆ ---       │
│ str            ┆ f64       ┆ f64       │
╞════════════════╪═══════════╪═══════════╡
│ Alice Archer   ┆ 55.0      ┆ 1.48      │
│ Ben Brown      ┆ 68.88     ┆ 1.68      │
│ Chloe Cooper   ┆ 50.92     ┆ 1.57      │
│ Daniel Donovan ┆ 78.94     ┆ 1.66      │
└────────────────┴───────────┴───────────┘
Original df: shape: (4, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
└────────────────┴────────────┴────────┴────────┘

In [18]:
result = df.filter(
    pl.col("birthdate").is_between(dt.date(1982, 12, 31), dt.date(1998, 1, 1)),
    pl.col("height") > 1.2,
)
print(result)

shape: (3, 4)
┌──────────────┬────────────┬────────┬────────┐
│ name         ┆ birthdate  ┆ weight ┆ height │
│ ---          ┆ ---        ┆ ---    ┆ ---    │
│ str          ┆ date       ┆ f64    ┆ f64    │
╞══════════════╪════════════╪════════╪════════╡
│ Alice Archer ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown    ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
└──────────────┴────────────┴────────┴────────┘

You can use `group_by` as expected. Note that `polars.Expr` have aliases. `DataFrames` don't.

**Note**: `maintain_order` is used to guarantee the reproducibility of the examples, forcing polars to consider the entries in the same order as they appear in the `DataFrame`, but it slows down execution.

In [41]:
result = df.group_by(
    (pl.col("birthdate").dt.year() // 10 * 10).alias("decade"),
    maintain_order=True,
).len().rename({"len": "count"})
print(result)

shape: (2, 2)
┌────────┬───────┐
│ decade ┆ count │
│ ---    ┆ ---   │
│ i32    ┆ u32   │
╞════════╪═══════╡
│ 1990   ┆ 1     │
│ 1980   ┆ 3     │
└────────┴───────┘

**Note**: notice how the decade is calculated by dividing (integer division) by 10 and then multiplying by 10.

In [51]:
(1993 // 10) * 10

1990

In [40]:
result = df.group_by(
    (pl.col("birthdate").dt.year() // 10 * 10).alias("decade")
).agg(pl.col("name").alias("people"))
print(result)

shape: (2, 2)
┌────────┬─────────────────────────────────┐
│ decade ┆ people                          │
│ ---    ┆ ---                             │
│ i32    ┆ list[str]                       │
╞════════╪═════════════════════════════════╡
│ 1990   ┆ ["Alice Archer"]                │
│ 1980   ┆ ["Ben Brown", "Chloe Cooper", … │
└────────┴─────────────────────────────────┘

In [32]:
type(df.group_by(
    (pl.col("birthdate").dt.year() // 10 * 10).alias("decade")
).agg(pl.col("name")))

polars.dataframe.frame.DataFrame

In [30]:
type(pl.col("name").alias("people"))

polars.expr.expr.Expr

In [45]:
result = df.group_by(
    (pl.col("birthdate").dt.year() // 10 * 10).alias("decade"),
    maintain_order=True,
).agg(
    pl.len().alias("sample_size"),
    pl.col("weight").mean().round(2).alias("avg_weight"),
    pl.col("weight").median().alias("median_weight"),
    pl.col("height").max().alias("tallest"),
)

print(result)

shape: (2, 5)
┌────────┬─────────────┬────────────┬───────────────┬─────────┐
│ decade ┆ sample_size ┆ avg_weight ┆ median_weight ┆ tallest │
│ ---    ┆ ---         ┆ ---        ┆ ---           ┆ ---     │
│ i32    ┆ u32         ┆ f64        ┆ f64           ┆ f64     │
╞════════╪═════════════╪════════════╪═══════════════╪═════════╡
│ 1990   ┆ 1           ┆ 57.9       ┆ 57.9          ┆ 1.56    │
│ 1980   ┆ 3           ┆ 69.73      ┆ 72.5          ┆ 1.77    │
└────────┴─────────────┴────────────┴───────────────┴─────────┘

### More complex queries
Contexts and the expressions within can be chained to create more complex queries according to your needs. In the example below we combine some of the contexts we have seen so far to create a more complex query:

Breaking it down by expression:

In [52]:
result = (
    df.with_columns(
        (pl.col("birthdate").dt.year() // 10 * 10).alias("decade"),
        # pl.col("name").str.split(by=" ").list.first(),
    )
)
print(result)

shape: (4, 5)
┌────────────────┬────────────┬────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ decade │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ i32    │
╞════════════════╪════════════╪════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ 1990   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ 1980   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ 1980   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ 1980   │
└────────────────┴────────────┴────────┴────────┴────────┘

In [53]:
result = (
    df.with_columns(
        (pl.col("birthdate").dt.year() // 10 * 10).alias("decade"),
        pl.col("name").str.split(by=" ").list.first(),
    )
)
print(result)

shape: (4, 5)
┌────────┬────────────┬────────┬────────┬────────┐
│ name   ┆ birthdate  ┆ weight ┆ height ┆ decade │
│ ---    ┆ ---        ┆ ---    ┆ ---    ┆ ---    │
│ str    ┆ date       ┆ f64    ┆ f64    ┆ i32    │
╞════════╪════════════╪════════╪════════╪════════╡
│ Alice  ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ 1990   │
│ Ben    ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ 1980   │
│ Chloe  ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ 1980   │
│ Daniel ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ 1980   │
└────────┴────────────┴────────┴────────┴────────┘

In [54]:
result = (
    df.with_columns(
        (pl.col("birthdate").dt.year() // 10 * 10).alias("decade"),
        pl.col("name").str.split(by=" ").list.first(),
    )
    .select(
        pl.all().exclude("birthdate"),
    )
)
print(result)

shape: (4, 4)
┌────────┬────────┬────────┬────────┐
│ name   ┆ weight ┆ height ┆ decade │
│ ---    ┆ ---    ┆ ---    ┆ ---    │
│ str    ┆ f64    ┆ f64    ┆ i32    │
╞════════╪════════╪════════╪════════╡
│ Alice  ┆ 57.9   ┆ 1.56   ┆ 1990   │
│ Ben    ┆ 72.5   ┆ 1.77   ┆ 1980   │
│ Chloe  ┆ 53.6   ┆ 1.65   ┆ 1980   │
│ Daniel ┆ 83.1   ┆ 1.75   ┆ 1980   │
└────────┴────────┴────────┴────────┘

In [47]:
result = (
    df.with_columns(
        (pl.col("birthdate").dt.year() // 10 * 10).alias("decade"),
        pl.col("name").str.split(by=" ").list.first(),
    )
    .select(
        pl.all().exclude("birthdate"),
    )
    .group_by(
        pl.col("decade"),
        maintain_order=True,
    )
    .agg(
        pl.col("name"),
        pl.col("weight", "height").mean().round(2).name.prefix("avg_"),
        pl.col("weight", "height").median().name.prefix("median_")
    )
)
print(result)

shape: (2, 6)
┌────────┬────────────────────────────┬────────────┬────────────┬───────────────┬───────────────┐
│ decade ┆ name                       ┆ avg_weight ┆ avg_height ┆ median_weight ┆ median_height │
│ ---    ┆ ---                        ┆ ---        ┆ ---        ┆ ---           ┆ ---           │
│ i32    ┆ list[str]                  ┆ f64        ┆ f64        ┆ f64           ┆ f64           │
╞════════╪════════════════════════════╪════════════╪════════════╪═══════════════╪═══════════════╡
│ 1990   ┆ ["Alice"]                  ┆ 57.9       ┆ 1.56       ┆ 57.9          ┆ 1.56          │
│ 1980   ┆ ["Ben", "Chloe", "Daniel"] ┆ 69.73      ┆ 1.72       ┆ 72.5          ┆ 1.75          │
└────────┴────────────────────────────┴────────────┴────────────┴───────────────┴───────────────┘

## Combining dataframes
Polars provides a number of tools to combine two dataframes. In this section, we show an example of a join and an example of a concatenation.

### Joining dataframes
Polars provides many different join algorithms. The example below shows how to use a left outer join to combine two dataframes when a column can be used as a unique identifier to establish a correspondence between rows across the dataframes:

In [ ]:
df2 = pl.DataFrame(
    {
        "name": ["Ben Brown", "Daniel Donovan", "Alice Archer", "Chloe Cooper"],
        "parent": [True, False, False, False],
        "siblings": [1, 2, 3, 4],
    }
)

print("df2", df2)

print("Combined df", df.join(df2, on="name", how="left"))

df2 shape: (4, 3)
┌────────────────┬────────┬──────────┐
│ name           ┆ parent ┆ siblings │
│ ---            ┆ ---    ┆ ---      │
│ str            ┆ bool   ┆ i64      │
╞════════════════╪════════╪══════════╡
│ Ben Brown      ┆ true   ┆ 1        │
│ Daniel Donovan ┆ false  ┆ 2        │
│ Alice Archer   ┆ false  ┆ 3        │
│ Chloe Cooper   ┆ false  ┆ 4        │
└────────────────┴────────┴──────────┘
Combined df shape: (4, 6)
┌────────────────┬────────────┬────────┬────────┬────────┬──────────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ parent ┆ siblings │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---    ┆ ---      │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ bool   ┆ i64      │
╞════════════════╪════════════╪════════╪════════╪════════╪══════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ false  ┆ 3        │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ true   ┆ 1        │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ false  ┆ 4        │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ false  ┆ 2        │
└────────────────┴────────────┴────────┴────────┴────────┴──────────┘

In [60]:
df2_missing = pl.DataFrame(
    {
        "name": ["Ben Brown", "Daniel Donovan", "Alice Archer"],
        "parent": [True, False, False],
        "siblings": [1, 2, 3],
    }
)

print("df2_missing", df2_missing)

print("Combined df", df.join(df2_missing, on="name", how="left"))

df2_missing shape: (3, 3)
┌────────────────┬────────┬──────────┐
│ name           ┆ parent ┆ siblings │
│ ---            ┆ ---    ┆ ---      │
│ str            ┆ bool   ┆ i64      │
╞════════════════╪════════╪══════════╡
│ Ben Brown      ┆ true   ┆ 1        │
│ Daniel Donovan ┆ false  ┆ 2        │
│ Alice Archer   ┆ false  ┆ 3        │
└────────────────┴────────┴──────────┘
Combined df shape: (4, 6)
┌────────────────┬────────────┬────────┬────────┬────────┬──────────┐
│ name           ┆ birthdate  ┆ weight ┆ height ┆ parent ┆ siblings │
│ ---            ┆ ---        ┆ ---    ┆ ---    ┆ ---    ┆ ---      │
│ str            ┆ date       ┆ f64    ┆ f64    ┆ bool   ┆ i64      │
╞════════════════╪════════════╪════════╪════════╪════════╪══════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   ┆ false  ┆ 3        │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   ┆ true   ┆ 1        │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   ┆ null   ┆ null     │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   ┆ false  ┆ 2        │
└────────────────┴────────────┴────────┴────────┴────────┴──────────┘

### Concatenating dataframes
Concatenating dataframes creates a taller or wider dataframe, depending on the method used. Assuming we have a second dataframe with data from other people, we could use vertical concatenation to create a taller dataframe:

In [62]:
df3 = pl.DataFrame(
    {
        "name": ["Ethan Edwards", "Fiona Foster", "Grace Gibson", "Henry Harris"],
        "birthdate": [
            dt.date(1977, 5, 10),
            dt.date(1975, 6, 23),
            dt.date(1973, 7, 22),
            dt.date(1971, 8, 3),
        ],
        "weight": [67.9, 72.5, 57.6, 93.1],  # (kg)
        "height": [1.76, 1.6, 1.66, 1.8],  # (m)
    }
)

df_concated = pl.concat([df, df3], how="vertical")
print("df_concated", df_concated)

df_concated shape: (8, 4)
┌────────────────┬────────────┬────────┬────────┐
│ name           ┆ birthdate  ┆ weight ┆ height │
│ ---            ┆ ---        ┆ ---    ┆ ---    │
│ str            ┆ date       ┆ f64    ┆ f64    │
╞════════════════╪════════════╪════════╪════════╡
│ Alice Archer   ┆ 1997-01-10 ┆ 57.9   ┆ 1.56   │
│ Ben Brown      ┆ 1985-02-15 ┆ 72.5   ┆ 1.77   │
│ Chloe Cooper   ┆ 1983-03-22 ┆ 53.6   ┆ 1.65   │
│ Daniel Donovan ┆ 1981-04-30 ┆ 83.1   ┆ 1.75   │
│ Ethan Edwards  ┆ 1977-05-10 ┆ 67.9   ┆ 1.76   │
│ Fiona Foster   ┆ 1975-06-23 ┆ 72.5   ┆ 1.6    │
│ Grace Gibson   ┆ 1973-07-22 ┆ 57.6   ┆ 1.66   │
│ Henry Harris   ┆ 1971-08-03 ┆ 93.1   ┆ 1.8    │
└────────────────┴────────────┴────────┴────────┘

In [63]:
result = (
    df_concated.with_columns(
        (pl.col("birthdate").dt.year() // 10 * 10).alias("decade"),
        pl.col("name").str.split(by=" ").list.first(),
    )
    .select(
        pl.all().exclude("birthdate"),
    )
    .group_by(
        pl.col("decade"),
        maintain_order=True,
    )
    .agg(
        pl.col("name"),
        pl.col("weight", "height").mean().round(2).name.prefix("avg_"),
        pl.col("weight", "height").median().name.prefix("median_")
    )
)

print(result)

shape: (3, 6)
┌────────┬───────────────────────────────┬────────────┬────────────┬───────────────┬───────────────┐
│ decade ┆ name                          ┆ avg_weight ┆ avg_height ┆ median_weight ┆ median_height │
│ ---    ┆ ---                           ┆ ---        ┆ ---        ┆ ---           ┆ ---           │
│ i32    ┆ list[str]                     ┆ f64        ┆ f64        ┆ f64           ┆ f64           │
╞════════╪═══════════════════════════════╪════════════╪════════════╪═══════════════╪═══════════════╡
│ 1990   ┆ ["Alice"]                     ┆ 57.9       ┆ 1.56       ┆ 57.9          ┆ 1.56          │
│ 1980   ┆ ["Ben", "Chloe", "Daniel"]    ┆ 69.73      ┆ 1.72       ┆ 72.5          ┆ 1.75          │
│ 1970   ┆ ["Ethan", "Fiona", … "Henry"] ┆ 72.78      ┆ 1.7        ┆ 70.2          ┆ 1.71          │
└────────┴───────────────────────────────┴────────────┴────────────┴───────────────┴───────────────┘

In [66]:
df_concated.write_csv("../../data/getting-started/output-concatenated.csv")

!cat ../../data/getting-started/output-concatenated.csv

name,birthdate,weight,height
Alice Archer,1997-01-10,57.9,1.56
Ben Brown,1985-02-15,72.5,1.77
Chloe Cooper,1983-03-22,53.6,1.65
Daniel Donovan,1981-04-30,83.1,1.75
Ethan Edwards,1977-05-10,67.9,1.76
Fiona Foster,1975-06-23,72.5,1.6
Grace Gibson,1973-07-22,57.6,1.66
Henry Harris,1971-08-03,93.1,1.8